*{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.choice{
    height: 185px;
    width: 185px;
    margin-top: 5rem;
    transition: all .2s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score , #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}
.msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: inline;
}